    {% extends "base/admin_base.html"%}

    {% block admin_block %}
    <style>
        .back{
            color:white;
            background: #ff7104;
        }

    </style>
    <div class="container">
            <br/><br/>

        <div class="card shadow-lg p-4 mb-4 bg-light">
            <div class="card-title"><b>Admin Panel</b></div>
            <div class="card-body">
                    <div class="row">You Username &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:25px;font-weight:bolder;">{{session.username}}</span>
                            <div class="col-md-12 ">
                            <br/>
                            <br/>
                            <div class="card ">
                                <div class="card-body"> <b>Present Functionality of Admin Panel</b></div>
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="card back">
                                <div class="card-body"><a  href="/admin_view_users" style="color:white;"> View User's File</a></div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card back">
                                <div class="card-body"><a href="/admin_user_role" style="color:white;">Manage User Access</a></div>
                            </div>
                        </div>
                    </div>
                
                <br/>
                <br/>
                <b>More Features will be added in future.

                </b></div>
        </div>
    </div>
    {% endblock %}
