<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap4.min.js') }}"></script> 
<link href="{{ url_for('static',filename ='styles/bootstrap4.min.css') }}" rel="stylesheet">
<link rel='stylesheet' href="{{ url_for('static',filename ='styles/all.css') }}">
<link rel='stylesheet' href="{{ url_for('static',filename ='styles/icon.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">


<title></title>
</head>
<body>
{% include  "includes/_navbar.html" %}
<br/>
<br/>
<br/>
{% include  "includes/_message.html" %}
{% block body%}
{% endblock %}


</body>
</html>
